#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.navbar {
  width: 100%;
  background-color: rgb(50, 50, 50);
  color: white;
  margin: 0 0 20px 0;
}

.navbar button {
  background-color: rgb(50, 50, 50);
  color: white;
}

.navbar button .active-nav {
  font-weight: bold;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.product-card img {
  width: 250px;
  height: 250px;
}