@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@400;500&display=swap');

@font-face {
  font-family: 'Teutonic1';
  src: url('/teutonic1.ttf');
}

* {
  box-sizing: border-box;
}

:root {
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;

  color: #e0dedc;
  background-color: #c2761f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll;
}

#root {
  width: 100%;
  padding: 0;
  margin: 0;
}

a {
  font-weight: 400;
  text-decoration: inherit;
}

a:hover {
  color: blue;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

label {
  font-size: 13px;
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: color 0.25s;
  border: none
}

button:hover {
  color: rgba(255, 245, 225, .5);
}

a {
  cursor: pointer;
}

input {
  background-color: darkgrey;
  border: none;
  border-radius: 3px;
  padding: 3px;
  font-size: 16px;
}
