.profile-order-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  min-width: 100%;
  border-top: solid 1px;
}

.orders {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1rem;
}

.order {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  padding: 10px;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 14px;
}

.order-products {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.order-product {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #e0dedc;
  color: #c2761f;
}

.order-product img {
  width: 150px;
  height: auto;
}

.order-product .details {
  max-width: 125px;
  width: 100%;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
  border-right: solid 1px;
  padding: 1rem;
}

.profile button {
  width: 20%;
  background-color: rgba(0,0,0,0);
  color: #e0dedc;
  border-right: solid 1px;
  align-self: flex-end;
  margin-right: 2rem;
  font-size: 20px;
  padding: 0.3rem;
}

.profile-items img {
  width: 300px;
  margin: 20px 0;
}

.profile-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
}

.profile-items .section {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 40%;
}

.profile-items .title {
  width: 90px;
}

button {
  padding: 3px;
}

.back-button {
  width: 200px;
}

.edit-modal {
  width: 404px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 1px 10px 0px #00000065;
  gap: 10px;
}

.edit-modal .back-button {
  width: 30px;
  font-weight: bold;
  font-size: 20px;
  padding: 0;
  color: red;
}

.edit-modal .back-button button {
  display: flex;
  justify-content: center;
  padding: 0;
}

.edit-modal form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.edit-modal .edit-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.edit-modal .section {
  width: 100%;
  display: flex;
}

.edit-modal form .label {
  width: 140px;
}

.edit-modal form .value,
.edit-modal form input {
  width: 100%;
}

.edit-modal textarea {
  background-color: darkgrey;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: 14px;
  resize: vertical;
  overflow-y: hidden;
}