.profile-order-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  border-top: solid 1px;
}

.orders {
  display: flex;
  flex-direction: column;
  min-width: 40%;
  max-width: 40%;
  gap: 20px;
  padding: 1rem;
}

.order {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  padding: 10px;
  background-color: #e0dedc ;
  color: #c2761f;
  border: black 1px solid;
}

.open-order-button {
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  color: #c2761f;
  transition: .2s;
  transform: rotate(0.75turn);
}

.open-order-button.open {
  transform: rotate(1turn);
}

.header {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 16px;
}

.order-products {
  display: none;
  position: column;
  flex-wrap: wrap;
  max-width: 100%;
  height: 0%;
  gap: 20px;
  padding: 20px;
  z-index: 1;
  transition: .2s;
}

.order-products.open {
  display: flex;
  height: 100%;
}

.order-product {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: #e0dedc;
  color: #c2761f;
}

.order-product img {
  width: 150px;
  height: auto;
}

.order-product .details {
  max-width: 125px;
  min-width: 100px;
  width: 100%;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 10px;
}

.profile {
  display: flex;
  flex-direction: column;
  width: 60%;
  border-right: solid 1px;
  padding: 1rem 1rem 1rem 0;
}

.profile-items {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  gap: 1rem;
}

.profile-items img {
  width: 175px;
  align-self: flex-start;
}

.profile-items .profile-items-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.profile-items .section {
  display: flex;
  gap: 1rem;
}

.profile-items .profile-items-text p {
  margin-top: 5rem;
}

.profile button {
  width: 20%;
  background-color: rgba(0, 0, 0, 0);
  color: #e0dedc;
  border-right: solid 1px;
  align-self: flex-end;
  font-size: 20px;
  padding: 0.3rem;
}

.back-button {
  width: 200px;
}

.edit-modal {
  width: 404px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 1px 10px 0px #00000065;
  gap: 10px;
}

.edit-modal .back-button {
  width: 30px;
  font-weight: bold;
  font-size: 20px;
  padding: 0;
  color: red;
}

.edit-modal .back-button button {
  display: flex;
  justify-content: center;
  padding: 0;
}

.edit-modal form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.edit-modal .edit-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.edit-modal .section {
  width: 100%;
  display: flex;
}

.edit-modal form .label {
  width: 140px;
}

.edit-modal form .value,
.edit-modal form input {
  width: 100%;
}

.edit-modal textarea {
  background-color: darkgrey;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: 14px;
  resize: vertical;
  overflow-y: hidden;
}

@media (max-width: 950px) {
  .profile-order-container {
    flex-direction: column;
    align-items: center;
  }

  .profile-order-container>* {
    border: none;
  }
}