.products {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.products .product-card {
  margin-bottom: 1rem;
  width: 325px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px black solid;
  background-color: #e0dedc;
  border-radius: 5px;
  padding-right: 5px;
  color:#c2761f;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.products .product-card img {
  width: 150px;
  height: 200px;
  object-fit: contain;
  border-radius: 10px;
}

.products .top {
  padding-top: 10px;
}

.single-product {
  box-shadow: 0px 1px 10px 0px #00000032;
  background-color: rgb(255, 255, 255);
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
  border: 1px black solid;
}

.single-product .title {
  margin-top: 20px;
}

.single-product .container {

  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-product .left {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  gap: 20px;
}

.single-product .bottom {
  background-color: rgb(187, 130, 70);
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 20px;
}

.single-product .product-footer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.product-card .product-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  padding: 5px 0 10px 0;
}

.product-footer a {
  align-self: flex-end;
  margin-right: .75rem;
}

.product-footer button {
  padding: 10px;
  background-color: rgba(0,0,0,0);
  color: #c2761f;
  border-right: 1px solid;
}

#single-product-button {
  color: #e0dedc;
}

#single-product-increment {
  color: #e0dedc;
  border: none;
}

#single-product-increment:hover {
  color: rgba(255, 245, 225, .5);
}

.products .product-footer {
  width: 100%;
  justify-content: space-between;
}

.product-footer div {
  width: 100px;
  display: flex;
  align-items: center;
  height: 30px;
  justify-content: space-between;

}

.single-product img {
  max-width: 100%
}

h2,
p {
  margin: 0;
  padding: 0;
}

#main-single-product {
  width: 100%;
  display: flex;
  justify-content: center;
} 