.artists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.artists>div:nth-child(odd) {
  flex-direction: row-reverse;
}

.artists .artist-summary-container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.artists .artist-summary-container:nth-child(even) .artist-details {
  border-right: 1px solid;
}

.artists .artist-summary-container:nth-child(odd) .artist-details {
  border-left: 1px solid;
}

.artists .artist-summary-container .big-artist-image {
  display: flex;
  align-items: center;
  padding: 20px;
}

.artists .artist-summary-container .big-artist-image img,
.artists .artist-summary-container .small-artist-image img {
  width: 100%;
  cursor: pointer;
}

.artists .artist-details {
  display: flex;
  flex-direction: column;
  width: 48%;
  justify-content: space-between;
  padding: 20px;
}

.artists .artist-details .artist-details-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  text-align: left;
}

.slideshow {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.slideshow-slider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.thumbnail {
  display: inline-block;
  width: 100%;
}

.thumbnail img {
  cursor: pointer;
}

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #b6b6b6;
}

.slideshowDot.active {
  background-color: white;
}

.artists .artist-details .artist-details-text a {
  color: #e0dedc;
  transition: color 0.25s;
}

.artists .artist-details .artist-details-text a:hover {
  color: rgba(255, 245, 225, .5);
}

.artist-details p {
  font-style: italic;
}

/* These are just for the artist profiles */
.artists .artist-summary-container>a {
  width: 50%;
  display: flex;
  border-left: solid 1px;
  padding: 1.8% 0 1.8% 1.8%;
  color: inherit;
}

.artists .artist-summary-container>a>img {
  width: 100%;
}

.artists div:nth-child(odd)>a {
  border-left: none;
  border-right: solid 1px;
  padding: 1.8% 1.8% 1.8% 0
}

.single-artist {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.single-artist .top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.single-artist .top .right {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.single-artist .top .left img {
  max-width: 100%;
}


.bottom {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  flex-direction: column;
}

.single-artist .product-card {
  width: 250px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: auto;
  gap: 5px;
  background-color: #e0dedc;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.single-artist .product-card img {
  width: 100%;
  height: 300px;
  flex: 1 1 auto;
}

.single-artist .product-card img:hover {
  opacity: 0.8;
}

.single-artist .product-card form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.single-artist .product-card input,
.single-artist .product-card textarea {
  width: 100%;
  font-family: inherit;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0);
  color: #c2761f;
  border: none;
}

.single-artist .product-card button {
  width: 85px;
  color: #c2761f;
  background-color: rgba(0, 0, 0, 0);
  border-right: 1px solid #c2761f;
}

.single-artist .product-card .is-active input,
.single-artist .product-card .is-active textarea {
  background-color: rgba(255, 255, 255, 0.452);
}

.single-artist .product-card textarea {
  margin-bottom: -7px;
  width: 100%;
  height: auto;
  resize: none;
}

.single-artist .product-card .row {
  width: 100%;
}

#artist-products-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

#single-artist-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.artist-details button {
  background-color: rgba(0, 0, 0, 0);
  color: #e0dedc;
  border-right: solid 1px;
  align-self: center;
  font-size: 20px;
  padding: 0.3rem;
}


@media (max-width: 600px) {
  .artists .artist-summary-container .big-artist-image {
    display: none;
  }

  .artist-summary-container {
    flex-direction: column;
    border: none;
  }

  .artist-summary-container .artist-details {
    width: 100%;
  }

  .single-artist .top {
    flex-direction: column-reverse;
  }

  #artist-products-box {
    flex-direction: column;

  }
}

@media (min-width: 600px) {

  .artists .artist-summary-container .small-artist-image {
    display: none;
  }
}

/* .artists .artist-summary-container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid;
  border-bottom: 1px solid;
} */